<section class="container">
  <div class="jumbotron">
    <h1>Opened In The Same Tab!</h1>
    <p>
      See how the first link opened to this page in the same tab? Perfect.
      {{#link-to "index"}}Now go back and try the other link from the same example.{{/link-to}}
      Notice that it will open in another tab because its origin isn't from ember-cli-marked-down.cybertooth.io.
    </p>
  </div>
</section>
{{outlet}}