<h1>Demonstration</h1>

<h2>Some Marked Down!</h2>

{{marked-down "### Heading 3
Some paragraph.
* Bullet 1
* Bullet 2
  * Bullet 2a

http://github.com

~~Some struck text!~~

1. Numbered List
  1. Another
1. Number Two"}}

<h2>Testing Some XSS</h2>

{{marked-down "<u>Some underlined text</u>

Before some script tag...

<script type='text/javascript'>alert('XSS Attack Attempt')</script>

...after the script tag
"
}}

<h2>Wrapped With `set-links-target`</h2>

{{#set-links-target}}
  {{marked-down "
  Check out this link, it should open in a `_blank` tab/window:

  http://github.com
  "}}
{{/set-links-target}}