<h1>Demonstration</h1>

<h2>Some Marked Down!</h2>

{{marked-down "### Heading 3
Some paragraph.
* Bullet 1
* Bullet 2
  * Bullet 2a

http://github.com

~~Some struck text!~~

1. Numbered List
  1. Another
1. Number Two"}}